footer
  .container-fluid
    .row.py-5

      .col-12.mb-5.col-md-6.mb-md-3.col-xl-4.offset-xl-1
        p.poppins.brand-text.bold GetInfo
        p.raleway GitInfo uses the Fetch API to gather information from GitHub and Wikipedia's APIs to provide breif overviews of a curated list of popular web development tools.
        p.text-muted #[i.fas.fa-laptop-code] with #[i.fab.fa-html5] #[i.fab.fa-css3-alt] #[i.fab.fa-js] #[i.fab.fa-node-js] #[span.footer-icon ex]

      .col-12.col-md-3.offset-md-3.col-xl-1.offset-xl-5
        p.poppins.header-text.bold Navigation
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.main-text(href="/") Home
          li.nav-item
            a.nav-link.main-text(href="frontend") FrontEnd
          li.nav-item
            a.nav-link.reg-text.main-text(href="backend") BackEnd
          li.nav-item
            a.nav-link.main-text(href="about") About

//- Scripts
//- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anoymous")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anoymous")
//- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
script(src="jquery/jquery.slim.min.js")
script(src="popper/popper.min.js")
script(src="boot/js/bootstrap.bundle.min.js")