include ../partials/header

header
  .jumbotron.bg-transparent.vertical-gap
    .container-fluid
      .row.pt-5.justify-content-center

        .col-12.col-md-10.my-md-auto
          img.hero-image(src="img/svg/404 Image.svg", alt="404")

include ../partials/footer