include ../partials/header

header
  .jumbotron.bg-transparent.vertical-gap
    .container-fluid
      .row

        .col-12.mb-5.col-md-6.col-lg-5.offset-lg-1.my-md-auto
          h1.poppins.header-text.capitalize About
          p.raleway.main-text GitInfo uses the Fetch API to gather information from GitHub and Wikipedia's APIs to provide breif overviews of a curated list of popular web development tools.
          p.raleway.main-text The site uses CSS, JavaScript, Pug, Express, and Node. The information pages are created dynamically from a single route and use the Fetch API to collect data.
          p.raleway.main-text The author of this site is a graduate of the University of Central Florida, with a Bachelor's in Digital Media and Web Design, and builds all things web.


        .col-12.col-md-6.my-md-auto
          img.hero-image(src="img/svg/About Image.svg", alt="User with various technology around")

include ../partials/footer